{{- /* Custom social links injection point for LoveIt theme */ -}}

{{- /* Customize social link rendering or add additional social platforms */ -}}
{{- /* This partial can be used to override how social links are displayed */ -}}

{{- /* Example: Add custom styling or additional platforms */ -}}
{{- /* 
<div class="custom-social-links">
  {{- with .Site.Params.social.GitHub }}
    <a href="https://github.com/{{ . }}" title="GitHub" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-github"></i>
    </a>
  {{- end }}
</div>
*/ -}}
